body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--background-l-0);
}

h1 {
    font-family: 'Bodoni Moda SC', serif;
    font-weight: 700;
    font-optical-sizing: 30;
    font-size: 48;
    letter-spacing: 7.68px;
}

h2 {
    font-family: 'Bodoni Moda SC', serif;
    font-weight: 600;
    font-optical-sizing: 30;
    font-size: 40;
    letter-spacing: 7.68px;
}

h3 {
    font-family: 'Bodoni Moda SC', serif;
    font-weight: 600;
    font-optical-sizing: 30;
    font-size: 32;
    letter-spacing: 7.68px;
}

h4 {
    font-family: 'Bodoni Moda SC', serif;
    font-weight: 500;
    font-optical-sizing: 30;
    font-size: 26;
    letter-spacing: 7.68px;
}

h5 {
    font-family: 'Bodoni Moda SC', serif;
    font-weight: 500;
    font-optical-sizing: 30;
    font-size: 22;
    letter-spacing: 7.68px;
}

h6 {
    font-family: 'Bodoni Moda SC', serif;
    font-weight: 400;
    font-optical-sizing: 30;
    font-size: 18;
    letter-spacing: 7.68px;
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 1em;
}

a {
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    color: black;
}

#mainGrid {
    display: grid;
    grid-template-columns: auto 500px;
    width: 100%;
    height: 100%;
}

.button {
    color: var(--text-l-0);
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

.button-rounded {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
}

.button-rounded:hover {
    background-color: var(--primary-l-3);
}

.button-rounded:disabled {
    color: #7a96b4;
}

.button-rounded.active {
    background-color: var(--background-l-0);
    color: var(--text-l-2);
}

.button-rounded.active:hover {
    background-color: var(--background-l-1);
}

.button-rounded-secondary {
    background-color: var(--background-l-0);
    color: var(--text-l-2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.button-rounded-secondary:hover {
    background-color: var(--background-l-1);
}

.button-rounded-secondary.active {
    background-color: var(--background-l-3);
    color: var(--text-l-0);
}

.button-rounded-secondary.active:hover {
    background-color: var(--background-l-2);
}

.button-regular {
    background-color: var(--primary-l-4);
    border-radius: 50px;
    font-size: medium;
    padding: 15px;
}

.button-regular:hover {
    background-color: #4da3ff;
}

#sceneWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#sceneCanvas {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 0%;
}

#bottomBar {
    display: block;
    position: fixed;
    bottom: 20px;
    z-index: 10;
    background-color: var(--primary-l-4);
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: fit-content;
    height: fit-content;
}

#bottomBar.hidden {
    transform: translateY(calc(100% + 20px));
    transition: transform 0.3s ease;
}

#bottomBar.visible {
    transform: translateY(0);
    transition: transform 0.3s ease;
}

#bottomBar button {
    margin-right: 10px;
}

#bottomBar button:last-child {
    margin-right: 0;
}

#sideBar {
    position: fixed;
    left: 20px;
    bottom: 20px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

#sideBar button {
    margin-bottom: 10px;
}

#sideBar button:last-child {
    margin-bottom: 0;
}
