#carousel {
    position: relative;
    display: flex;
    aspect-ratio: 4/3;
    margin-right: 20px;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #leftButton, #rightButton {
        position: absolute;
        bottom: 50%;
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: var(--primary-l-3);
    }

    #leftButton {
        left: 5%;
    }

    #rightButton {
        right: 5%;
    }

    #indexIndicatorContainer {
        position: absolute;
        bottom: 20px;
        display: flex;
        width: 100%;
        justify-content: center;

        #indexIndicator {
            background-color: var(--primary-l-5);;
            width: 25px;
            height: 4px;
            margin-right: 5px;
            border-radius: 2px;
            cursor: pointer;
            border: none;
        }

        #indexIndicator.active {
            background-color: var(--primary-l-3);;
        }

        #indexIndicator:last-child {
            margin-right: 0;
        }
    }
}