#priceDisplay{
    display: flex;
    justify-content: top;
    color: var(--text-l-2);

    #currencySymbol, #decimelAmount {
        padding-top: 4px;
    }

    #currencySymbol {
        padding-right: 5px;
    }
}