#contentContainer {
    padding: 20px;

    #propertiesContainer {
        #property {
            display: flex;
        }
    }
}

/*
.button {
    color: var(--text-l-2);
}

.button:hover {
    background-color: var(--background-l-1);
}
*/