.button {
    color: var(--text-l-2);
}

.button:hover {
    background-color: var(--background-l-1);
}

#roomSizeInputContainer {
    display: flex;
    flex-direction: column;
    margin: 40px;
    justify-content: center;

    #roomSizeInputLabelContainer {
        display: flex;
        align-items: center;
    }

    input[type=number] {
        height: 20px;
        width: 40px;
        font-family: 'Inter', sans-serif;
        font-size: 1em;
        text-align: right;
        border: 1px solid var(--background-l-2);
        color: var(--text-l-2);
        border-radius: 5px;

        background-color: var(--background-l-1);

        /*firefox hide arrows*/
        -moz-appearance: textfield;

        margin-left: auto;
        margin-right: 10px;
    }

    /*chrome hide arrows*/
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="range"] {
        accent-color: var(--primary-l-4);
    }
}