.button {
    color: var(--text-l-0);

    font-family: 'Bodoni Moda SC', serif;
    font-weight: 700;
    font-optical-sizing: 30;
    font-size: 48;
    letter-spacing: 7.68px;
    line-height: 100%;

    border: none;
    cursor: pointer;
    transition: background-color 0.5s, border-color 0.5s;
    box-sizing: border-box;
    display: flex;

    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}

.button-primary, .button-secondary, .button-inverted {
    border-radius: 5px;
    padding: 15px 20px 15px 20px;
}

/* primary button */

.button-primary {
    background-color: var(--primary-l-4);
}

.button-primary:not(:disabled):hover {
    background-color: var(--primary-l-3);
}

.button-primary.active {
    background-color: var(--background-l-0);
    color: var(--primary-l-4);
}

.button-primary.active:not(:disabled):hover {
    background-color: var(--background-l-1);
}

.button-primary:disabled {
    background-color: var(--background-l-1);
    cursor: default;
}

/* secondary button */

.button-secondary {
    background-color: transparent;
    color: var(--primary-l-4);
    border: 1px solid var(--primary-l-4);
}

.button-secondary:not(:disabled):hover {
    background-color: var(--background-l-1);
}

.button-secondary.active {
    color: var(--text-l-0);
    background-color: var(--primary-l-2);
    border: none;
}

.button-secondary.active:not(:disabled):hover {
    background-color: var(--primary-l-1);
}

.button-secondary:disabled {
    border-color: var(--background-l-1);
    color: var(--background-l-1);
    cursor: default;
}

/* inverted button */

.button-inverted {
    background-color: var(--background-l-0);
    color: var(--text-l-2);
}

.button-inverted:not(:disabled):hover {
    background-color: var(--text-l-1);
}

.button-inverted.active {
    background-color: var(--background-l-3);
    color: var(--text-l-0);
}

.button-inverted.active:not(:disabled):hover {
    background-color: var(--background-l-2);
}

.button-inverted:disabled {
    background-color: var(--background-l-1);
    color: var(--text-l-0);
    cursor: default;
}

/* rounded button */

.button-rounded {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    
    letter-spacing: 0;

    svg {
        width: 60%;
        height: 60%;
    }
}