input[type=number] {
    height: 20px;
    width: 40px;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    text-align: right;
    border: 1px solid var(--background-l-2);
    color: var(--text-l-2);
    border-radius: 5px;

    background-color: var(--background-l-1);

    /*firefox hide arrows*/
    -moz-appearance: textfield;
}

/*chrome hide arrows*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="range"] {
    accent-color: var(--primary-l-4);
}

/* width */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--primary-l-3);
    border: 4px solid transparent;
    background-clip: content-box;
    border-radius: 50px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--primary-l-2);
    background-clip: content-box;
  }